body{
    margin: 8px;
    padding: 0 0.5vw;
    font-size: 15px;
}

h1{
    margin: 2vh 0.1em;
    font-size: 30px;
}

label{
    margin: 5px 0.1em;
}

input, select{
    margin: 5px 0px 5px 7.5px;
    padding: 1px 0.25em;
    font-size: 14px;
}

input[type="button"]{
    margin: 20px 0px 10px 5px;
    padding: 8px 48px;
    font-size: 16px;
}

hr{
    margin: 10px 0;
}

textarea{
    box-sizing: border-box;
    height: 30em;
    width: 50em;
}

@media (max-width: calc(50em + 16px + 1vw)){
    textarea{
        width: 100%;
    }
}